* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  width: 80%;
}

.navigation-row {
  background-color: black;
  width: 100%;
  height: 4rem;
  padding: 0.4rem;
}

.navigation-row .navigation-logo {
  display: inline-block;
  margin-left: 5%;
  margin-right: 30%;
  width: 25%;
  text-transform: uppercase;
  font-size: 2rem;
  color: #ffffff;
}

.navigation-row .navigation-logo h1 {
  font-size: 2rem;
}

.navigation-row .navigation-logo span {
  color: #06c787;
}

.navigation-container {
  display: inline-block;
  margin-right: 5%;
  margin-bottom: 1rem;
}

.btn {
  text-transform: uppercase;
}

.btn:hover {
  color: #06c787 !important;
}

.dropdown-item {
  text-transform: capitalize;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 30rem;
  background: #efeff2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51%, #efeff2), color-stop(94%, rgba(169, 170, 172, 0.779149)), to(rgba(99, 100, 101, 0.753939)));
  background: linear-gradient(180deg, #efeff2 51%, rgba(169, 170, 172, 0.779149) 94%, rgba(99, 100, 101, 0.753939) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeff2", endColorstr="#636465", GradientType=1);
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #06c787;
  font-weight: bold;
  font-size: 2.5rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #06c787;
}

/* The dots/bullets/indicators */
.active {
  background-color: #06c787;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.mySlides-image {
  height: 100%;
  width: 50%;
  margin-left: 1%;
  margin-top: -20%;
}

.mySlides-text {
  height: 100%;
  max-width: 39%;
  display: inline-block;
  text-align: center;
  margin-right: 5%;
}

.mySlides-text h2 {
  margin-top: 17%;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.mySlides-text span {
  color: #06c787;
}

.mySlides-text p {
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 5%;
}

.mySlides-text a {
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  height: 8%;
  width: 20%;
  color: #ffffff;
  background-color: #06c787;
  border-radius: 10px;
  font-size: 2rem;
}

.mySlides-text a:hover {
  text-decoration: none;
  color: black;
}

.mySlides-text a:visited {
  text-decoration: none;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  height: 15rem;
  margin: 0 0 1% 1%;
  padding: 1%;
}

.products-container .products-item {
  height: 100%;
  width: 33%;
  background-image: url("../images/box1_img.jpg");
  background-position: center;
  background-size: cover;
}

.products-container .products-item:nth-child(2) {
  background-image: url("../images/box2_img.jpg");
}

.products-container .products-item .product-info {
  margin: 43% 0 0 0;
  text-align: left;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.3);
}

.products-container .products-item .product-info div {
  height: 1%;
  width: 50%;
  border: 5px #06c787 solid;
  margin-left: 5%;
}

.products-container .products-item .product-info h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-left: 5%;
}

.products-container .products-text {
  width: 30%;
  height: 100%;
  border: 2px solid #636465;
}

.products-container .products-text h4 {
  font-size: 1.2rem;
  margin: 3% 0 -2% 5%;
  color: black;
}

.products-container .products-text .product-info div {
  display: inline-block;
  height: 1%;
  width: 55%;
  border: 5px #06c787 solid;
  margin-left: 5%;
}

.products-container .products-text .product-info p {
  color: #636465;
  width: 90%;
  margin-left: 5%;
  font-size: 0.8rem;
}

.prices {
  padding-top: 2.5%;
}

.prices h3 {
  margin-left: 2.5%;
  color: black;
  text-transform: uppercase;
}

.prices .underline-bar {
  display: inline-block;
  height: 1%;
  width: 31%;
  border: 5px #06c787 solid;
  margin-left: 1.25%;
}

.prices {
  background-color: #E2E3E5;
  padding-top: 2%;
}

.plans-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
}

.plan {
  height: 31rem;
  width: 31%;
  text-align: center;
  margin-top: -2rem;
}

.plan .outer-circle {
  background-color: #ffffff;
  z-index: 10;
  position: relative;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #666666;
  padding: 0.9rem 0.9rem 0.9rem 0.85rem;
}

.plan .outer-circle .inner-circle {
  z-index: 10;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid #666666;
  background-color: #666666;
}

.plan .plan-info {
  border: 2px solid #666666;
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.plan .plan-info h4 {
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.plan .plan-info .price-circle {
  width: 30%;
  height: 6.5rem;
  border: 3px solid #666666;
  border-radius: 50%;
  margin-bottom: 1rem;
  padding-top: 0.9rem;
  color: #666666;
}

.plan .plan-info .price-circle p:first-child {
  margin-bottom: 0;
  font-size: 2rem;
}

.plan .plan-info .price-circle p:first-child sup {
  font-size: 1rem;
  top: -1rem;
}

.plan .plan-info .price-circle p:last-child {
  margin-top: -0.5rem;
  text-transform: uppercase;
}

.plan-details p {
  padding: 0.2rem;
  margin-bottom: 0;
  font-size: 1.1rem;
}

.plan-details p:nth-child(1) {
  background-color: #d9d9d9;
  color: #666666;
}

.plan-details p:nth-child(2) {
  background-color: #e6e6e6;
  color: #666666;
}

.plan-details p:nth-child(3) {
  background-color: #d9d9d9;
  color: #666666;
}

.plan-details p:last-child {
  background-color: #e6e6e6;
  color: #666666;
  margin-bottom: 1.5rem;
}

.plan-join {
  color: #ffffff;
  background-color: #06c787;
  z-index: 1;
  margin-top: 6rem;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  height: 3rem;
  width: 50%;
  text-transform: uppercase;
  border: 1px solid #06c787;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 1rem;
}

.plan-join:hover {
  color: black;
  text-decoration: none;
}

.basic-plan .outer-circle, .standard-plan .outer-circle, .advance-plan .outer-circle {
  top: 6%;
  left: 0;
}

/*# sourceMappingURL=main.css.map */
