$colorMain: #06c787;
$colorWhite: #ffffff;
$colorWhiteOp: rgba(255, 255, 255, 0.3);
$colorWhiteOpper: rgba(255, 255, 255, 0.5);
$colorBlack: rgb(52, 58, 64);
$lightGrey: rgb(230, 230, 230);
$colorGrey: rgb(217, 217, 217);
$greyText: rgb(102, 102, 102);


* {
  margin: 0 auto;
  box-sizing: border-box;
}

.main-container {
  width: 80%;
}

// Navigation

.navigation-row {
  display: flex;
  align-items: flex-start;
  background-color: $colorBlack;
  width: 100%;
  height: 3.5rem;
  padding: 0.25rem;

  .navigation-logo {
    //display: inline-block;
    margin-left: 5%;
    margin-right: 30%;
    width: 25%;
    text-transform: uppercase;
    font-size: 2rem;
    color: $colorWhite;


    h1 {
      font-size: 2.5rem;
      margin-bottom: 0;


    }

    span {
      color: $colorMain;
    }
  }

}

.navigation-container {
  //display: inline-block;
  margin-right: 5%;
  //padding: 0.5rem;
  //margin-bottom: 1rem;
}

.btn-group {
  vertical-align: baseline !important;
  select {
    background-color: $colorBlack;
  }
}

.btn {
  text-transform: uppercase;

  &:hover {
    color: $colorMain !important;
    background-color: $colorBlack !important;
    border: none;
    font-weight: bolder;
  }

}

.dropdown-menu {
  background-color: $colorBlack !important;
}

.dropdown-item {
  text-transform: capitalize;
  color: $colorWhite !important;
  &:hover {
    background-color: transparent !important;
    color: $colorMain !important;
    font-weight: bolder;
  }

}


// Slider


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 24rem;
  background: rgb(239, 239, 242);
  background: -moz-linear-gradient(180deg, rgba(239, 239, 242, 1) 51%, rgba(169, 170, 172, 0.78) 94%, rgba(99, 100, 101, 0.7539390756302521) 100%);
  background: -webkit-linear-gradient(180deg, rgba(239, 239, 242, 1) 51%, rgba(169, 170, 172, 0.7791491596638656) 94%, rgba(99, 100, 101, 0.7539390756302521) 100%);
  background: linear-gradient(180deg, rgba(239, 239, 242, 1) 51%, rgba(169, 170, 172, 0.7791491596638656) 94%, rgba(99, 100, 101, 0.7539390756302521) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeff2", endColorstr="#636465", GradientType=1);
  width: 100%;

  .black-chair {
    background-image: url("/images/black_chair.png");
    //background-size: initial;
    bottom: 5%;
  }

  .orange-chair {
    background-image: url("/images/orange_chair.png");
    background-size: 86%;
    bottom: 10%;

  }

  .red-chair {
    background-image: url("/images/red_chair.png");
    background-size: 80%;
    bottom: 15%;


  }

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 2.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $colorMain;
}

/* The dots/bullets/indicators */

.active {
  background-color: $colorMain;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.mySlides-image {
  height: 100%;
  width: 40%;
  margin-left: 5%;
  margin-top: 0;
  display: inline-block;
  // background-image: url("/images/black_chair.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  // background-size: contain;
  position: relative;
  // bottom: 15%;
}

.mySlides-text {
  position: relative;
  height: 100%;
  max-width: 39%;
  display: inline-block;
  text-align: center;
  margin-right: 5%;
  margin-left: 2%;
  top: -30%;

  h2 {
    margin-top: 1%;
    font-size: 2rem;
    text-transform: uppercase;
  }

  span {
    color: $colorMain;
  }

  p {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 5%;
  }

  a {
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    height: 8%;
    width: 20%;
    color: $colorWhite;
    background-color: $colorMain;
    border-radius: 10px;
    font-size: 1.5rem;

    &:hover {
      text-decoration: none;
      color: $colorBlack;
      font-weight: bolder;
    }

    &:visited {
      text-decoration: none;
    }
  }
}

// Products

.products-container {
  display: flex;
  width: 98%;
  height: 15rem;
  margin: 0 0 1% 1%;
  padding: 1%;

  .products-item {
    height: 100%;
    width: 33%;
    background-image: url("../images/box1_img.jpg");
    background-position: center;
    background-size: cover;

    &:nth-child(2) {
      background-image: url("../images/box2_img.jpg");
    }

    .product-info {
      margin: 43% 0 0 0;
      text-align: left;
      height: 20%;
      background-color: $colorWhiteOp;

      div {
        height: 1%;
        width: 50%;
        border: 5px $colorMain solid;
        margin-left: 5%;
      }

      h4 {
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-left: 5%;
      }
    }
  }

  .products-text {
    width: 30%;
    height: 100%;
    border: 2px solid #636465;

    h4 {
      font-size: 1.2rem;
      margin: 3% 0 -2% 5%;
      color: $colorBlack;
    }

    .product-info {

      div {
        display: inline-block;
        height: 1%;
        width: 55%;
        border: 5px $colorMain solid;
        margin-left: 5%;
      }

      p {
        color: #636465;
        width: 90%;
        margin-left: 5%;
        font-size: 0.8rem;
      }
    }
  }
}

// Prices

.prices {
  padding-top: 2%;
  background-color: #E2E3E5;

  h3 {
    margin-left: 2.5%;
    color: $colorBlack;
    text-transform: uppercase;
  }

  .underline-bar {
    display: inline-block;
    height: 1%;
    width: 31%;
    border: 5px $colorMain solid;
    margin-left: 1.25%;
  }
}


.plans-container {
  display: flex;
  margin-top: 2%;
}

.plan {
  height: 31rem;
  width: 31%;
  text-align: center;
  margin-top: -2rem;

  &:hover {
    .outer-circle {
      background-color: $colorMain;
      border: 2px solid $colorMain;
      .inner-circle {
        background-color: $colorWhite;
        border: 2px solid $colorWhite;
      }
    }
    .plan-info {
      background-color: $colorMain;
      h4 {
        color: $colorWhite;
        font-weight: bolder;
      }
      .price-circle{
        background-color: $colorWhite;
        border: 3px solid $colorMain;
      }
      .plan-join {
        background-color: $colorWhite;
        color: $colorMain;
        &:hover {
          background-color: $colorBlack;
          color: $colorWhite;
          font-weight: bolder;
        }
      }
    }
  }

  .outer-circle {
    background-color: $colorWhite;
    z-index: 10;
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid $greyText;
    padding: 0.9rem 0.9rem 0.9rem 0.85rem;

    .inner-circle {
      z-index: 10;
      position: relative;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid $greyText;
      background-color: $greyText;
    }
  }

  .plan-info {
    border: 2px solid $greyText;
    position: relative;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    background-color: $colorWhiteOpper;


    h4 {
      text-transform: uppercase;
      margin-bottom: 1.3rem;
      color: $colorMain;
    }

    .price-circle {
      width: 30%;
      height: 6.5rem;
      border: 3px solid $greyText;
      border-radius: 50%;
      margin-bottom: 1rem;
      padding-top: 0.9rem;
      color: $greyText;

      p:first-child {
        margin-bottom: 0;
        font-size: 2rem;

        sup {
          font-size: 1rem;
          top: -1rem;
        }
      }

      p:last-child {
        margin-top: -0.5rem;
        text-transform: uppercase;
      }
    }
  }



.plan-details {
  p {
    padding: 0.2rem;
    margin-bottom: 0;
    font-size: 1.1rem;
  }

  p:nth-child(1) {
    background-color: $colorGrey;
    color: $greyText;
  }

  p:nth-child(2) {
    background-color: $lightGrey;
    color: $greyText;
  }

  p:nth-child(3) {
    background-color: $colorGrey;
    color: $greyText;
  }

  p:last-child {
    background-color: $lightGrey;
    color: $greyText;
    margin-bottom: 1.5rem;
  }
}

.plan-join {
  color: $colorWhite;
  background-color: $colorMain;
  z-index: 1;
  margin-top: 6rem;
  padding: 0.6rem 2.5rem 0.6rem 2.5rem;
  height: 3rem;
  width: 50%;
  text-transform: uppercase;
  border: 1px solid $colorMain;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 1rem;

  &:hover {
    //color: $colorBlack;
    text-decoration: none;
  }
}}

.basic-plan, .standard-plan, .advance-plan {
  .outer-circle {
    top: 6%;
    left: 0;
  }
}

.basic-plan {
  .plan-details {
    p:nth-child(3){
      visibility: hidden;

    }
    p:last-child {
      visibility: hidden;
    }
  }
}

.standard-plan {
  .plan-details {
    p:last-child{
      visibility: hidden;
    }
  }
}

.contact {
  padding-top: 2%;

  h3 {
    margin-left: 2.5%;
    color: $colorBlack;
    text-transform: uppercase;
  }

  .underline-bar {
    display: inline-block;
    height: 1%;
    width: 31%;
    border: 5px $colorMain solid;
    margin-left: 1.25%;
  }
}

.contact-form {
  padding: 2rem;

  input {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid $colorMain;

  }

  textarea {
    border: 1px solid $colorMain;
  }

  input:first-child {
    margin-top: 0;
  }

  input:nth-child(2) {
    margin-bottom: 0;
  }

  small {
    margin-bottom: 1rem;
  }

  .col-md-4 {
    margin-left: 5rem;
    align-items: center;

  }

  .form-checked {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;

    img {
      margin-right: 0;
      margin-left: 0;
    }

    p {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  #redChair {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .btn {
    width: 90%;
    background-color: $colorMain !important;
    border: none;
    &:hover {
      color: $colorBlack !important;
      font-weight: bolder;
    }
  }
}

footer {
  padding-bottom: 1rem;
  color: $greyText;
  .footer-container {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;

    .footer-left {
      text-transform: capitalize;
      margin-left: 2.5%;
      margin-top: 0.15rem;
    }

    .footer-right {
      display: flex;
      margin-left: 4%;
      flex-wrap: nowrap;
      width: 40%;

      .footer-right-icons {
        margin-right: 0;
        font-size: 1.6rem;

      }

      .footer-right-info {
        margin-top: 0.15rem;
        margin-left: 4%;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1.75rem;

        span {
          font-weight: bolder;
        }
      }
    }
  }
}